body{
    
    background-repeat: no-repeat;
    background-size: cover;

}

/*Stand Info*/
#FarmstandInfo
{
    background-color: #d2d9d2;
    width: 15%;
    height: 350px;
    border: 2px solid #143f17; 
    margin-left: 50px;
    margin-top: 2%;
    border-radius: 25px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    text-align: center;
    padding: 10px;

}
#FarmStandName
{

    background-color:  #d5e1df;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    border: 2px solid rgb(181, 186, 187); 
    
}
#FarmStandImage
{
    background-color: #d5e1df;
    height: 200px;
    padding-left: 20px; 
    padding-right: 20px; 
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 25px;
    text-align: center;
}

#FarmStandAddr
{
    background-color: #d5e1df;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}


/*News Container*/
#NewsContainer
{
    background-color: #d2d9d2;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    width: 70%;
    height: 350px;
    border: 2px solid #143f17; 
    padding: 20px;
    margin-top: 2%;
    border-radius: 25px;
    margin-left: 40px;
    float: left;
    text-align: center;

}

#NewsContainerBox
{
    background-color: #d5e1df;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    text-align: center;

}

/*Stand Owner Posting*/
#StandOwnerPosting
{
    background-color: #d2d9d2;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    width: 15%;
    height: 600px;
    border: 2px solid #143f17; 
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 25px;
    float: left;
    
}
#StandPostingTitle
{
    text-align: center;
    background-color: #d5e1df;
    box-shadow: 0 4px 8px 0 rgba(229, 237, 240, 0.5);
    height: 50px;

}
#StandPostingSubContainer
{

    background-color: #d5e1df;
    box-shadow: 0 4px 8px 0 rgba(229, 237, 240, 0.5);
    height: 500px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

#StandPostingContent
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(207, 208, 209, 0.5);
    height: 480px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

/*Inventory*/
#InventoryDisplayContainer
{
    background-color: #d2d9d2;
    width: 47%;
    height: 90%;
    border: 2px solid #143f17;  
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 25px;
    float: left;
    /*overflow: scroll;*/
    
}

#itemDisplayContainer
{
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    margin-top: 5px;
}



#ItemImage
{
    background-color: rgba(121, 120, 120, 0.63);
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 25px;
    float: left;
}

#ItemDescription
{
    background-color: rgba(238, 229, 229, 0.63);
    height: 30%;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 25px;
    float: left;

}
#ItemName
{
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#ItemDescriptionBox
{
    background-color: rgba(209, 207, 207, 0.767);
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 5px;
    margin-top: 7px;
    padding: 1px 10px;
}

/*
    SideInventoryIDContainer
*/
#SideInventoryIDContainer
{
    height: 150px;
    width: 260px;
    /*box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);*/
    margin-top: 25px;
    float: right;
}


#ItemQTY
{
    background-color: rgb(228, 228, 228);
    border: black;
    height: 50px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    float: left;
    padding: 2px;
    margin-bottom: 5px;
}

#ItemPrice
{
    background-color: rgb(228, 228, 228);
    border: black;
    height: 50px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    float: left;
}

#ItemReservation
{
    background-color: rgb(228, 228, 228);
    border: black;
    height: 50px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(103, 106, 107, 0.5);
    border-radius: 10px;
    float: left;

}

#ItemRemove
{
    background-color: red;
    border: red;
    height: 25%;
    width: 100%;
    border-radius: 10px;
    float: left;
}

#ItemEdit
{
    background-color: blue;
    border: blue;
    height: 25%;
    width: 100%;
    border-radius: 10px;
    float: left;
}


/*Reviews*/
#UserReviewContainer
{
    background-color: #d2d9d2;
    width: 22%;
    height: 600px;
    border: 2px solid #143f17; 
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    float: left;
}


/* {box-sizing: border-box;}*/


.open-button {
  background-color: lime;
  color: black;
  padding: 16px 20px;
  border: none;
  opacity: 0.8;
  width: 100%;
}


.form-popup {
display: none;
width:100%;
margin-top: auto;
margin-bottom:auto;
margin-left:auto;
margin-right:auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  
  padding: 10px;
  background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}
